<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/recuperacao.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h2>Recuperar senha</h2>
        <hr class="divider">
        <form id="formRecuperar">
            <div class="input-group">
                <input type="email" name="email" placeholder="Digite seu e-mail">
            </div>
            <button class="btn">Enviar código</button>
        </form>
        <div class="info">
            Você receberá um código de verificação por e-mail.
        </div>
    </div>
<script src="../assets/js/script.js" defer></script>
</body>
</html>