*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height:100vh;
    margin: 0;
    background: radial-gradient(circle at top, #0b1b2b, #081421);
    overflow: hidden;
}

body.swal2-shown {
    overflow: hidden !important;
    padding-right: 0 !important;
}

.swal2-popup {
    border-radius: 12px !important;
}

.swal2-confirm {
    background: #1f6bff !important;
}

.swal2-confirm:hover {
    background: #2d7dff !important;
}

.swal2-container {
    background: rgba(0, 0, 0, 0.75) !important;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:1100px;
    height:600px;
    display:flex;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
}

.left{
    width:50%;
    height:100%;
    background: url('layout_login.png') no-repeat center center;
    background-size: cover;
}

.left img{
    width:180px;
    margin-bottom:20px;
}

.right{
    width:50%;
    background: linear-gradient(180deg, #0b1f33, #081421);
    padding:30px;
    color:#fff;
}

.right h2{
    text-align:center;
    margin-bottom:30px;
    font-weight:500;
}

.divider{
    width:100%;
    padding:0 1px;
    height:1px;
    background:#0b1f33;
    margin:0 auto 10px auto;
    border-color: #3e5872;
}

.input-group{
    margin-bottom:20px;
}

.input-group input{
    width:100%;
    padding:14px;
    border-radius:6px;
    border:1px solid #1e3a56;
    background:#0e2438;
    font-size: 15px;
    color:#fff;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    border-color:#2d7dff;
    box-shadow:0 0 8px #2d7dff80;
}

.captcha{
    margin:15px 0;
    padding:15px;
    border-radius:8px;
    border:1px solid #1e3a56;
    background:#0e2438;
    display:flex;
    align-items:center;
    gap:10px;
}

.btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:6px;
    background:#1f6bff;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
    margin-top:10px;
}

.btn:hover{
    background:#2d7dff;
    box-shadow:0 0 12px #2d7dff80;
}

.forgot{
    text-align:center;
    margin-top:15px;
    font-size:13px;
    opacity:0.7;
    cursor:pointer;
    text-decoration: underline;
}

.cookies{
    margin-top:58px;
    background:#0e2438;
    padding:12px;
    border-radius: none;
    font-size:16px;
    opacity:0.7;
    text-align:center;
}

.password-group{
    position: relative;
}

.password-group input{
    padding-right: 45px;
}

.toggle-password{
    position: absolute;
    right: 12px;
    top: 10%;
    transform: translate(-5%);
    background: none;
    border: none;
    color: #304e6b;
    font-size: 30px;
    cursor: pointer;
}

.toggle-password:hover{
    color: #3c5a77;
}

.captcha-container{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}

.h-captcha{
    transform: scale(1.25);
    transform-origin: center;
    height: 78px; 
}

.h-captcha iframe{
    display:block;
}

html, body {
    height: 100% !important;
    background: radial-gradient(circle at top, #0b1b2b, #081421) !important;
}

html.swal2-height-auto {
    height: 100% !important;
}