*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height:100vh;
    background: radial-gradient(circle at top, #0b1b2b);
    overflow: hidden; 
}

.container-left{
    position: fixed;
    top: 80px;
    left: 0;
    margin-left: -4px;
    width: 275px;
    height: calc(100vh - 80px);
    display:flex;
    border: 4px solid #737373;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #0b1b2b;
    transition: transform 0.35s ease;
}

.container-left.fechado{
    transform: translateX(-100%);
}

.container-left > *:not(.barra-reabrir){
    transition: transform 0.35s ease, opacity 0.50s ease;
}

.container-left.fechado > *:not(.barra-reabrir){
    transform: translateX(-50px);
    opacity: 0;
}

.container-top{
    flex: 1;
    height:86px;
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    align-items: center;
    padding-left:20px;
    border-radius:1px;
    overflow:hidden;
    border: 2px solid #737373;
    justify-content: flex-start;
    gap: 20px;
}

.container-top.expandido{
    left: 0;
}

.top-logo{
    width: 100px;
    margin-left: -9px;
    height: auto;
}

.user-info{
    color: #ffffff;
    font-size: 16px;
}

.user-name{
    color: #ff3b3b;
    font-weight: bold;
}

.topo-filtros{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border: 1px solid #353e52;

    background: linear-gradient(
        to bottom,
        #253150 0px,
        #253150 26px,
        #2d3e69 20px,
        #16213b 120%
    );
}

.btn-voltar{
    width: 28px;
    height: 28px;
    border: 1px solid #737373;
    background: #253150;
    color: #a6a6a6;
    cursor: pointer;
    font-size: 20px;
    display: flex;              
    align-items: center;        
    justify-content: center;    
    line-height: 1;             
    padding: 0;   
    border-radius: 4px;              
}

.btn-voltar:hover{
    background: #2f3e63;
}

.topo-filtros span{
    color: #a6a6a6;
    font-size: 28px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;

}

.campo-busca{
    display: flex;
    align-items: center;
    width: 50px;
    margin: 15px;
    background: #eaf2f9;
    border-radius: 4px;
}

.campo-busca input:focus{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 14px;
}

.acoes{
    display: flex;
}

.acoes button{
    width: 28px;
    height: 28px;
    border: 1px solid #9db4c7;
    background: #d7e6f3;
    cursor: pointer;
}

.acoes button:hover{
    background: #c5d9ea;
}

.barra-acoes{
    width: 85%;
    height: 32px;
    margin: 1px 0;      
    display: flex;
    align-items: center;
    border: 1px solid #737373;
    background: #253150;
    border-radius: 4px;
    overflow: visible;
}

.barra-acoes input{
    width: 85%;            
    height: 28px;
    padding-left: 8px;
    font-size: 14px;
    align-items: center;
    color:#fff;
    background: #253150;
    border: none;
    outline: none;
}

.grupo-botoes{
    display: flex;
    height: 100%;
}

.grupo-botoes button{
    all: unset;
    width: 32px;
    height: 100%;
    border-left: 1px solid #737373;
    background: #253150;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color:#a6a6a6;
    border-radius: 4px;
}

.grupo-botoes .meio{
    font-size: 18px;
    line-height: 0;
    color:#a6a6a6;
}

.grupo-botoes button:hover{
    background: #c5d9ea;
}


.btn-busca{
    width: 32px;
    height: 100%;
    border-left: 1px solid #737373;
    background: #253150;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfd8e3;   
    cursor: pointer;
}

.btn-busca svg{
    width: 16px;
    height: 16px;
}

.btn-data {
    width: 32px;               
    height: 100%;
    border-left: 1px solid #737373;
    background: #253150;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #cfd8e3;   
}

.btn-data svg {
    width: 16px;   
    height: 16px;
    stroke: currentColor;
}

.btn-data:hover {
    background: #c5d9ea;
    color: #253150;
}

.container-datas {
    display: flex;
    gap: 8px;
    width: 85%; 
    margin: 1px 0;
}


.container-datas .barra-acoes {
    flex: 1;
}

.container-datas .barra-acoes input {
    width: 70%;
}

.baixo-filtros{
    width: calc(100% + 90px);
    margin-left: -47px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border: 1px solid #353e52;

    background: linear-gradient(
        to bottom,
        #253150 0px,
        #253150 26px,
        #2d3e69 20px,
        #16213b 120%
    );
}

.btn-lista{
    width: 28px;
    height: 28px;
    border: 1px solid #737373;
    background: #253150;
    color: #a6a6a6;
    cursor: pointer;
    font-size: 20px;
    display: flex;              
    align-items: center;        
    justify-content: center;    
    line-height: 1;             
    padding: 0;   
    border-radius: 4px; 
    transition: 0.3s;             
}

.btn-lista:hover{
    background: #2f3e63;
}

.baixo-filtros span{
    color: #a6a6a6;
    font-size: 20px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-lista.ativo{
    transform: rotate(180deg);
}

.dropdown-sistema{
    background: #1b2744;
    border: 1px solid #2c3b5f;
    padding: 12px;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: -26px;
    gap: 10px;
    width: 230px;
    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.35s ease;
}

.dropdown-sistema.ativo{
    max-height: 350px;
    display: flex;
    transform: scaleY(1);
}

.dropdown-sistema::-webkit-scrollbar{
    height: 6px;
}

.dropdown-sistema::-webkit-scrollbar-thumb{
    background: #6b7280;
    border-radius: 4px;
}

.dropdown-sistema a.btn-dropdown{
    background:#1f6bff;
    border: none;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.dropdown-sistema a.btn-dropdown:hover{
    background:#2d7dff;
    box-shadow:0 0 12px #2d7dff80;
}

.footer-left{
    margin-top: auto;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    color: #a6a6a6;
    border: none;
    background: #0b1b2b;
}

.footer-left span{
    text-decoration: underline;
}

.barra-reabrir{
    position: fixed;
    top: 80px;
    left: 0;
    width: 22px;
    height: calc(100vh - 80px);
    background: #253150;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3000;
}

.container-left.fechado .barra-reabrir{
    display: flex;
}

.container-main{
    position: fixed;
    top: 80px;
    left: 270px;
    right: -2px;
    bottom: 0;
    border: 2px solid #737373;
    background: #0b1b2b;
    overflow: hidden;
    transition: left 0.35s ease;
}

.container-left.fechado ~ .container-main{
    left: 22px;
}

.main-top{
    height: 50%;

}

.main-bottom{
    height: 50%;
}

.btn-exist{
    margin-left:auto;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 30px;
    width: 52px;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #cc3535;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease;
}

.btn-exist:focus,
.btn-exist:hover{
    border-color:#cc3535;
    box-shadow:0 0 8px #ff6d6d;
}

.dropdown-container{
    position: relative;
    z-index: 2000;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1b2744;
    border: 1px solid #737373;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    
}

.dropdown-menu .item{
    padding: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu .item:hover{
    background: #2f3e63;
}

.dropdown-container.ativo .dropdown-menu{
    display: flex;
}

.swal2-backdrop-show {
    background: rgba(0, 0, 0, 0.75) !important;
}

.overlay-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: none;
    z-index: 9999;
}

.erp-modal{
    position: fixed;
    width: 640px; /* menor */
    background: #0b1b2b;
    border: 2px solid #737373;
    box-shadow: 0 8px 25px rgba(0,0,0,0.6);
    color: #e5e7eb;
    z-index: 10000;
}

.erp-modal.maximizado{
    position: absolute;
}

.erp-titlebar{
    background: linear-gradient(
        to bottom,
        #253150 0px,
        #253150 20px,
        #2d3e69 20px,
        #16213b 110%
    );
    padding: 6px 10px;
    cursor: move;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight: 500;
    border-bottom:1px solid #737373;
}

.erp-controls button{
    border:none;
    background:transparent;
    color:#a6a6a6;
    font-size:16px;
    cursor:pointer;
    padding:2px 6px;
}

.erp-controls button:hover{
    color:white;
}


.erp-content{
    padding:12px;
}

.erp-tabs{
    display:flex;
    border-bottom:1px solid #737373;
}

.erp-tab{
    padding:6px 14px;
    background:#253150;
    cursor:pointer;
    border:1px solid #737373;
    border-bottom:none;
    margin-right:3px;
    font-size:13px;
}

.erp-tab.active{
    background:#0b1b2b;
}

.erp-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    margin-top:12px;
}

.erp-grid label{
    font-size:12px;
    color:#cfd8e3;
}

.erp-grid input,
.erp-grid select{
    width:100%;
    padding:4px;
    background:#253150;
    border:1px solid #737373;
    color:white;
}

.workspace-overlay.fechar {
    display: block;
    animation: overlay-fechar 0.35s forwards;
}

@keyframes overlay-fechar {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-100%); }
}

.workspace-sistema{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background:#0b1b2b;
    color:#a6a6a6;
}

.barra-topo,
.barra-inferior{
    height:38px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8px;
    border-bottom:1px solid #737373;

    background: linear-gradient(
        to bottom,
        #253150 0px,
        #253150 18px,
        #2d3e69 20px,
        #16213b 130%
    );
}

.barra-topo button,
.barra-inferior button{
    background:#253150;
    border:1px solid #737373;
    color:#a6a6a6;
    padding:4px 10px;
    font-size:13px;
    cursor:pointer;
    border-radius:4px;
}

.barra-topo button:hover,
.barra-inferior button:hover{
    background:#2f3e63;
}

.grid-principal{
    flex:1;
    background:#16213b;
    overflow:auto;
    border-bottom:1px solid #737373;
}

.grid-principal table,
.grid-inferior table{
    border-collapse:collapse;
    min-width:1600px;
    width:100%;
    font-size:12px;
    color:#e5e7eb;
}

.grid-principal th,
.grid-inferior th{
    background:#253150;
    border:1px solid #737373;
    padding:6px;
    text-align:left;
    font-weight:500;
}

.abas{
    height:32px;
    display:flex;
    border-bottom:1px solid #737373;

    background: linear-gradient(
        to bottom,
        #253150 0px,
        #253150 20px,
        #16213b 120%
    );
}

.aba{
    padding:6px 14px;
    border-right:1px solid #737373;
    font-size:13px;
    cursor:pointer;
    color:#a6a6a6;
}

.aba:hover{
    background:#2f3e63;
}

.aba.active{
    background:#0b1b2b;
    font-weight:600;
    color:#ffffff;
}

.grid-inferior{
    height:180px;
    background:#16213b;
    overflow:auto;
}

.barra-topo input{
    height:24px;
    padding:2px 6px;
    border:1px solid #737373;
    background:#253150;
    color:white;
}

.barra-inferior input{
    height:24px;
    padding:2px 6px;
    border:1px solid #737373;
    background:#253150;
    color:white;
}